@model IntranetCPT.Models.Filtros.FiltroRamais
@{
    ViewData["Title"] = "GerenciarRamais";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- ***** Modal Adicionar ***** -->
<div class="modal fade" id="adicionar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Adicionar Telefone</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Admin" asp-action="CadRamais">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Setor" class="col-form-label">Setor:</label>
                        <input asp-for="Setor" class="form-control" />
                        <span asp-validation-for="Setor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telefone" class="col-form-label">Telefone:</label>
                        <input asp-for="Telefone" class="form-control" id="telefone" />
                        <span asp-validation-for="Telefone" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Salvar" class="btn btn-primary"/>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Canselar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ***** FINAL Modal Adicionar ***** -->
<!-- ***** Modal Alterar ***** -->
<div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Alterar Telefone</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Admin" asp-action="CadRamais">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Setor" class="col-form-label">Setor:</label>
                        <input asp-for="Setor" class="form-control"/>
                        <span asp-validation-for="Setor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telefone" class="col-form-label">Telefone:</label>
                        <input asp-for="Telefone" class="form-control" />
                        <span asp-validation-for="Telefone" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="Id" />
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Canselar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ***** FINAL Modal Alterar ***** -->
<!-- ***** Modal Excluir ***** -->
<div class="modal fade" id="excluir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Excluir Telefone</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja excluir?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Excluir</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Canselar</button>
            </div>
        </div>
    </div>
</div>
<!-- ***** FINAL Modal Excluir ***** -->
<div class="breadcrumb-area">
    <div class="container h-100">
        <div class="row h-100 align-items-end">
            <div class="col-12">
                <div class="breadcumb--con">
                    <h2 class="title">Gerenciar Ramais</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">Consórcio Processamento & Tecnologia</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adicionar">Adicionar Telefone</button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.RamaisLista.FirstOrDefault().Setor)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.RamaisLista.FirstOrDefault().Telefone)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RamaisLista)
            { 
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Setor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    <td><a asp-controller="Admin" asp-action="BuscarCadRamais" asp-route-id="@item.Id" class="btn btn-primary" data-toggle="modal" data-target="#editar"><i class="fa fa-pencil-square-o"></i></a></td>
                    <td><a href="" class="btn btn-primary" data-toggle="modal" data-target="#excluir"><i class="fa fa-close"></i></a></td>
                </tr>

            }
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Primeiro</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Próximo</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">Último</a>
            </li>
        </ul>
    </nav>
</div><br /><br />

